{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<form method="post">
  
    <div class="container">
      <label for="uname"><b>Q1</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Q2</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <label for="uname"><b>Q3</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      
      <label for="uname"><b>Q4</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <button type="submit">Submit</button>
    </div>
  
  </form>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/sign_in.js') }}"></script>

{% endblock %}