<html>
  <div id = "password-container">
<form action="{{url_for('index.handle_reset')}}" method="post">

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
    </div>

    <button type="submit">Submit</button>

  </form>
  
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/password.js') }}"></script>
  </div>
</html>