<html>
  
<form action="{{ url_for('index.handle_sign_in') }}" method="post">
    {% if status == "incorrect" %}
      <div class="status">Incorrect password, please try again.</div>
    {% elif status == "dne" %}
      <div class="status">Email is not associated with a user, please register or try another email.</div>
    {% endif %}

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit">Login</button>
    </div>
  
  </form>
  
  <div class="container" style="background-color:#f1f1f1">
    <a href={{url_for('index.reset')}} >    <button>Forgot Password</button></a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/sign_in.js') }}"></script>

</html>
